@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg-clr: #fff;
  --body-bg-gradient: 
    radial-gradient(at 54% 100%, hsla(260,100%,93%,0.21) 0px, transparent 50%),
    radial-gradient(at 75% 69%, hsla(315,0%,100%,1) 0px, transparent 50%),
    radial-gradient(at 39% 26%, hsla(315,0%,100%,1) 0px, transparent 50%),
    radial-gradient(at 70% 56%, hsla(240,100%,70%,0.3) 0px, transparent 50%),
    radial-gradient(at 27% 28%, hsla(206,41%,53%,0.31) 0px, transparent 50%);

  --sidebar: #f5f5f5;
  --sidebar-text: #333;
  --sidebar-border: 1px solid #ebebeb;
  --sidebar-input: #fff;
  --sidebar-input-text: #333;
  --sidebar-input-placeholder: #aaa;
  --sidebar-input-border: 1px solid #e4e4e4;

  --header: #ffffff78;
  --header-border: 1px solid #eeeeee;

  --main-content: #fff;
  --main-content-text: #000;
  --main-content-subtext: #5c5c5c;

  --overlay-background: #ffffffa4;
  --overlay-content: #000000;

  --tab-holder: #fafafa;
  --tab-border: 1px solid #ebebeb;
  --tab-hover: #ebebeb;
  --tab-active: #000;
  --tab-active-text: #fff;

  --empty-text: #949494;

  --container: #f0f0f0;
  --container-text: #333;
  --container-headings: #000;
  --container-border: 1px solid #ccc;
  
  --links: #007bff;
}

.dark {
  --body-bg-clr: #000000;
  --body-bg-gradient: 
    radial-gradient(at 16% 69%, hsla(254,75%,48%,0.12) 0px, transparent 50%),
    radial-gradient(at 99% 24%, hsla(273,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 45% 61%, hsla(17,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 82% 26%, hsla(240,80%,54%,0.3) 0px, transparent 50%);

  --sidebar: #0b0b0b;
  --sidebar-text: #e0e0e0;
  --sidebar-border: 1px solid #272727;
  --sidebar-input: #2a2a2a;
  --sidebar-input-text: #e0e0e0;
  --sidebar-input-placeholder: #888;
  --sidebar-input-border: 1px solid #3e3e3e;
  --header: #00000078;
  --header-border: 1px solid #eeeeee;  

  --main-content: #101010;
  --main-content-text: #fff;
  --main-content-subtext: #888;
  --overlay-background: #00000040;
  --overlay-content: #fff;
  --tab-holder: #131313;
  --tab-border: 1px solid #222222;
  --tab-hover: #242424;
  --tab-active: #414141;
  --empty-text: #686868;

  --container: #1c1c1c;
  --container-text: #e0e0e0;
  --container-headings: #fff;
  --container-border: 1px solid #3a3a3a;
  
  --links: #1e90ff;
}

body {
  background-color: var(--body-bg-clr);
  background-image: var(--body-bg-gradient);
  min-height: 100vh;
}

h2{
  font-size: 1.8em;
  font-weight: 600;
  color: var(--sidebar-text);
}
h3{
  font-size: 1.3em;
  color: var(--main-content-text);
  font-weight: 600;
}

header.global-header{
  position: sticky;
  top: 0;
  padding: 14px 20px;
}

.viewer{
  display: grid;
  grid-template-columns: 280px 1fr;

  .sidebar{
    padding: 20px;
    background: var(--sidebar);
    display: flex;
    flex-direction: column;
    gap: 20px;
    // border-right: var(--sidebar-border);
    // box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    z-index: 30;
    
    nav.sidebar-nav{
      ul.nav-list{
        display: flex;
        flex-direction: column;
        gap: 5px;

        li{
          display: flex;
          align-items: center;
          padding: 8px 14px;
          gap: 8px;
          border-radius: 8px;


          p{
            font-weight: 600;
            color: var(--sidebar-text);
          }

          svg{
            fill: var(--sidebar-text);
          }

          &:hover{
            background: var(--tab-hover);
          }
        }
      }
    }
    .controls{
      button{
        display: flex;
        align-items: center;
        padding: 8px 14px;
        gap: 8px;
        border-radius: 8px;

        p{
          font-weight: 600;
          color: var(--sidebar-text);
        }
        svg{
          stroke: var(--sidebar-text);
        }
        &:hover{
          background: var(--tab-hover);
        }
      }
    }
  }

  main{
    background-color: var(--main-content);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-inline: calc(50vw - min(1680px, 87.5vw)/2);
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;

    header.view-header{
      display: grid;
      place-items: center;

      .view-tabs{
        background: var(--tab-holder);
        border: var(--tab-border);
        border-radius: 100vw;
        padding: 4px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        display: flex;
        gap: 8px;

        button.tab{
          width: 120px;
          border-radius: 100vw;
          height: 50px;
          display: grid;
          place-items: center;

          p{
            font-weight: 600;
            color: var(--empty-text);
          }

          &:hover{
            background: var(--tab-hover);
          }
          &.active{
            background: var(--tab-active);

            p{
              color: var(--tab-active-text);
            }
          }

        }
      }
    }

    .tab-content{

      .tab-page{
        display: flex;
        flex-direction: column;
        gap: 50px;
      }

      h1{
        font-size: clamp(2em, 3.5vw, 2.5em);
        color: var(--main-content-text);
        line-height: 1.25em;
        font-weight: 600;
      }
      p{
        font-size: 1.1em;
        color: var(--main-content-subtext);
        line-height: 1.25em;
        font-weight: 600;
      }
      .apod-info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 800px;
      }

      .apod{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        border-radius: 20px;
        width: fit-content;
        width: 100%;


        .expand-overlay{
          backdrop-filter: blur(12px) saturate(1);
          background: var(--overlay-background);
          place-items: center;
          height: 100%;
          width: 100%;
          grid-area: 1/1/2/3;
          z-index: 2;
          border-radius: inherit;
          padding: 20px;
          opacity: 0;
          display: grid;
          transition: opacity .2s linear;

          .expand-text a{
            display: flex;
            align-items: center;
            gap: 8px;

            p{
              color: var(--overlay-content);
            }
            svg{
              fill: var(--overlay-content);
            }

            &:hover{
              text-decoration: 1px var(--links) underline;
            }
          }
        }

        img,iframe{
          border-radius: inherit;
          width: 100%;
          z-index: 1;
          grid-area: 1/1/2/3;
        }

        &:hover{
          .expand-overlay{
            opacity: 1;
            transition: opacity .2s linear;
          }
        }
      }

      .history-tab{
        .apod-controls{
          background: var(--tab-holder);
          border: var(--tab-border);
          border-radius: 14px;
          padding: 20px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
          display: flex;
          gap: 32px;
          font-weight: 500;
          width: fit-content;
          color: var(--sidebar-input-text);

          .date-form-wrapper{
            display: flex;
            flex-direction: column;
            gap: 8px;
          }

          form{
            display: flex;
            align-items: center;
            gap: 4px;

            hr{
              border-top: var(--tab-border);
              width: 8px;
            }
          }

          input{
            background: var(--sidebar-input);
            border-radius: 10px;
            padding: 8px 14px;
            border: var(--sidebar-input-border);

            &:focus{
              outline: 1px solid var(--links);
            }
          }
          button{
            background: #000;
            border-radius: 10px;
            padding: 8px 14px;
            color: #fff;
          }
        }
      }
    }

    .empty-message{
      height: 60vh;
      width: 100%;
      display: grid;
      place-items: center;

      p{
        font-weight: 600;
        color: var(--empty-text);
      }
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
