@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {

  //---BACKGROUNDS---//
  --primary: #fff;
  --secondary: #fafafa;
  --tertiary: #ebebeb;

  //---SPECIFIC BACKGROUNDS---//
  --translucent: #ffffffd9;
  --btn-active: #000;
  --form-btn: #000;
  --overlay: #fff;

  //---TEXT---//
  --primary-text: #000;
  --secondary-text: #5b5b5b;

  //---SPECIFIC TEXT---//
  --btn-active-text: #fff;
  --form-btn-text: #fff;
  --overlay-text: #000;

  //---BORDERS---//
  --primary-border: 1px solid #e5e5e5;

  
  //---MISC---//
  --input-outline: 3px solid #007bffca;
  --links: #007bffca;
}

@media (prefers-color-scheme: dark){
  
  :root {
    //---BACKGROUNDS---//
    --primary: #000;
    --secondary: #080808;
    --tertiary: #222;
  
    //---SPECIFIC BACKGROUNDS---//
    --translucent: #000000d9;
    --btn-active: #fff;
    --form-btn: #1e1e1e;
    --overlay: #000;
  
    //---TEXT---//
    --primary-text: #fff;
    --secondary-text: #9b9b9b;
  
    //---SPECIFIC TEXT---//
    --btn-active-text: #000;
    --form-btn-text: #ffffff;
    --overlay-text: #fff;
  
    //---BORDERS---//
    --primary-border: 1px solid #222222;
  
    
    //---MISC---//
    --input-outline: 3px solid #007bffca;
    --links: #007bffca;
  }
}

body {
  background: var(--secondary);
  min-height: 100vh;
}


//------TEXT ELEMENTS------//
h1,h2,h3,h4{
  color: var(--primary-text);
  line-height: 1.1em;
}
p{
  color: var(--secondary-text);
}

h1{
  font-size: 2.5em;
  font-weight: 600;
}
h2{
  font-size: 2em;
  font-weight: 600;
}
h3{
  font-size: 1.5em;
  font-weight: 500;
}
h4{
  font-size: 1.3em;
  font-weight: 500;
}
p{
  font-weight: 500;
}

//------HEADER ELEMENTS------//
header.global-header{
  padding: 14px 20px;
  backdrop-filter: blur(20px) saturate(1);
  background: var(--translucent);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.global-nav{
  position: sticky;
  top: 0;
  padding: 14px 0;
  padding-inline: 20px;
  border-bottom: var(--primary-border);
  backdrop-filter: blur(20px) saturate(1);
  background: var(--translucent);
  z-index: 5;
  display: flex;
  overflow-x: auto;
  
  &::-webkit-scrollbar{
    display: none;
  }

  ul.nav-list{
    width: 100%;
    display: flex;
    // gap: 40px;

    li.nav-list-item{
      display: inline-block;
      flex-shrink: 0;
      padding-right: 40px;
    }
  }
}

.logo{
  display: flex;
  align-items: center;
  gap: 8px;

  svg{
    stroke: var(--primary-text);
  }
}


//------MAIN CONTENT ELEMENTS------//
img,iframe{
  border-radius: 10px;
}

main{
  padding: 30px calc(50vw - min(1280px, 87.5vw)/2) 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  //------HOME------//
  &.home{
    padding: 0;
  }

  .hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: calc(100vh - 111px);

    img{
      grid-area: 1/1/2/3;
      width: 100%;
      height: calc(100vh - 111px);
      object-fit: cover;
      object-position: 30% 10%;
      border-radius: 0;
    }

    h1{
      grid-area: 1/1/2/3;
      padding: 20px;
      z-index: 4;
      color: #fff;
      place-self: center;
      text-align: center;
    }
  }

  //------TAB ELEMENTS------//
  header.tab-header{
    .tabs{
      display: flex;
      gap: 4px;
      padding: 4px;
      border-radius: 10px;
      background: var(--primary);
      border: var(--primary-border);
      width: fit-content;

      button.tab{
        padding: 8px 0;
        width: 90px;
        border-radius: 6px;
        text-align: center;

        &.active{
          background: var(--btn-active);

          p{
            color: var(--btn-active-text);
          }
        }
      }
    }
  }

  .tab-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  //------APOD------//
  .apod-controls{
    display: flex;
    justify-content: space-between;

    form{
      border: var(--primary-border);
      background: var(--primary);
      padding: 4px;
      border-radius: 10px;
      display: flex;
      gap: 8px;

      input{
        padding: 4px 8px;
        background: none;
        border-radius: 6px;
        color: var(--secondary-text);

        &:focus{
          outline: none;
          outline-offset: 1px;
        }
      }
      button{
        background: var(--form-btn);
        padding: 4px;
        aspect-ratio: 1;
        border-radius: 6px;

        svg{
          stroke: var(--form-btn-text);
        }
      }
    }

    .grid-view-btns{
      display: flex;
      align-items: center;
      gap: 4px;

      button.view-btn{
        height: 36px;
        display: grid;
        place-items: center;
        aspect-ratio: 1;

        svg{
          stroke: var(--primary-text);
        }

        &.active{
          background: var(--secondary);
          border: var(--primary-border);
          border-radius: 6px;
        }
      }
    }
  }

  .apod{
    .apod-info{
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 600px;
      margin-bottom: 20px;
    }
    .apod-media{
      display: grid;
      grid-template-columns: repeat(2,1fr);

      img,iframe{
        width: 100%;
        grid-area: 1/1/2/3;
      }
      .open-externally{
        grid-area: 1/1/2/3;
        z-index: 2;
        display: none;

        svg{
          stroke: var(--overlay-text);
        }
      }
      &:hover{
        .open-externally{
          display: flex;
          padding: 10px;

          a{
            margin-left: auto;

            .open-externally-icon{
              background: var(--overlay);
              height: 40px;
              aspect-ratio: 1;
              display: grid;
              place-items: center;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  ul.apod-grid{
    display: grid;
    gap: 20px;

    &.two-col{
      grid-template-columns: repeat(2,1fr);
    }
    &.three-col{
      grid-template-columns: repeat(3,1fr);
    }

    li.apod-grid-item{

      img,iframe{
        aspect-ratio: 14/10;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
      }

      .grid-item-content{
        display: flex;
        padding: 8px;
        position: relative;
        
        button.item-menu-btn{
          margin-left: auto;

          svg{
            stroke: var(--primary-text);
          }
        }

        .apod-options{
          position: absolute;
          bottom: 50px;
          right: 10px;
          background: var(--secondary);
          padding: 8px;
          border: var(--primary-border);
          border-radius: 8px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

          &[aria-hidden="false"] {
            display: block;
          }
          &[aria-hidden="true"] {
            display: none;
          }

          hr{
            margin: 4px 0;
            border-top: var(--primary-border);
          }
          
          li.apod-options-list-item{
            padding: 4px 8px;
            text-align: center;
          }
        }
      }
    }
    .apod-popup{
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background: var(--primary);
      z-index: 250;
      overflow-y: auto;

      &[aria-hidden="false"] {
        display: block;
      }
      &[aria-hidden="true"] {
        display: none;
      }

      header{
        padding: 14px;
        display: flex;

        button.popup-close-btn{
          margin-left: auto;

          svg{
            stroke: var(--overlay-text);
          }
        }
      }

      .popup-content{
        display: flex;
        flex-direction: column;
        padding: 30px calc(50vw - min(1280px, 87.5vw)/2) 100px;
      }
    }
  }

  //------GUIDE------//
  .guide-section{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .feature-grid{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;

      article{
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: var(--tertiary);
        border-radius: 20px;
        padding: 40px;

        &:nth-of-type(1){
          grid-area: 1/1/2/2;
        }
        &:nth-of-type(3) {
          grid-area: 2/1/4/2;
        }
        &:nth-of-type(6) {
          grid-area: 4/1/5/3;
        }
      }
    }
  }

  //------LOADING & ERROR ELEMENTS------//
  .empty-message{
    height: 50vh;
    display: grid;
    place-items: center;
  }
}


//------MEDIA QUERIES------//
@media screen and (max-width: 768px){
  main{
    .guide-section{
      .feature-grid{
        display: flex;
        flex-direction: column;
      }
    }
  }
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}